{% extends 'BuhoMylinksBundle::layout.html.twig' %}

{% block header_title %}Add Comment{% endblock header_title %}

{% block center %}
    <h3>Add comment for link "{{ comment.link.description }}"</h3>
    {% include 'BuhoMylinksBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock center %}